
{% extends "layout.html" %}
{% block title %}Partner Portal{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="container">

<h3>Partner Portal</h3>

<br/>



    <div id ="mycard">

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__supporting-text">
          Select the Tenant scope (default: all)
            <form action="/login">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <select class="mdl-textfield__input" id="tenant" name="tenant">
                    <option></option>
                    <option value="tenant1-jc8mz">tenant1-jc8mz</option>
                  </select>
                  <label class="mdl-textfield__label" for="tenant">Tenant</label>     
              </div>

                  <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="login">Log in</button>


            </form>
          </div>
    </div>
    </div>





</div>
{% endblock %}
